body{
  background-color:black;
  
}
h1 {
    position: relative;
  top:30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  size: 10px;
  color: rgb(200, 173, 127);
  margin:0;
  padding:0;
}

h2 {
  position: relative;
  top: 190px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(200, 173, 127);
  margin:0;
  padding:0;
}

h3{
  position: relative;
  top:310px;
  left:550px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  color:rgb(213, 182, 157);
  margin:0;
  padding:0;

}
#icon{
  width:350px;
  position: relative;
  left:610px;
  top:1250px;
  margin:0;
  padding:0;
}

h4{
  color: rgb(200, 173, 127);
  position: relative;
  left:675px;
  top:1260px;
  margin:0;
  padding:0;
}

#box1{
  height: 600px;
  width:500px;
  position: relative;
  left:520px;
  top:200px;
  margin:0;
  padding:0;
}

#box2{
  height: 400px;
  width:500px;
  position: relative;
  left:20px;
  margin:0;
  padding:0;

}
#box3{
  height: 640px;
  width:500px;
  position: relative;
  left:1020px;
  bottom:20px;
  margin:0;
  padding:0;


}
#box4{
  height: 600px;
  width:500px;
  position: relative;
  bottom:650px;
  left:20px;
  margin:0;
  padding:0;

}
#box5{
  height: 600px;
  width:500px;
  position: relative;
  left:520px;
  bottom:800px;
  margin:0;
  padding:0;

}
#box6{
  height: 380px;
  width:500px;
  position: relative;
  left:1020px;
  bottom: 2200px;
  margin:0;
  padding:0;

}


